 .tophomeBack{
    background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1700179200&semt=ais);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 