.format-summary{
    width:100%;
}
.tnme{
    width:600px;
    text-align: left;
}
.timing{
    width:800px;
    text-align: left;
}
.seats{
    width:800px;
    text-align: left;
}
.welcome{
    width:1000px;
    text-align: left;
}